.vscode/**
.vscode-test/**
.claude/**
src/**
test/**
.gitignore
.omc/**
thinking-dashboard/**
esbuild.js
tsconfig.json
tsconfig.e2e.json
.vscode-test.log
**/*.map
*.ts
node_modules/**
out/test/**
package-lock.json
*.vsix
